*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#16384c, rgb(47, 50, 95), #2f495f);
    min-height: 2000px;
}

.Section1 {
    width: 100%;
    margin: auto;
}

.Section1 .container {
    overflow: hidden;
    width: 100%;
}

.Section1 .container .box {
    float: left;
    width: 22%;
    margin: 14px 10px 11px 19px;
    position: relative;
    overflow: hidden;
    /* transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s; */
}

.Section1 .container .box img {
    width: 100%;
    transition: all 1s 1.3s;
    /* ده اللي هيحصل تكبير للصوره عند حصول الهوفر لكن بغد ال
    1.3s */
    -webkit-transition: all 1s 1.3s;
    -moz-transition: all 1s 1.3s;
    -ms-transition: all 1s 1.3s;
    -o-transition: all 1s 1.3s;
}

.box .body {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ff000047;
    text-align: center;
    padding: 18px;
    left: 100%;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.box:hover .body {
    left: 0;
    /* نسيت دول */
    transform: rotate(360deg);
    /* لف 360 درجه لكن  */
    transform-origin: right bottom;
    /* نقطة الاصل هي  */
}

.box .body h2 {
    background: gold;
    border-radius: 8px;
    /* relative بالسنبة لنفسهاااا */
    position: relative;
    left: 108%;
    transition: all 1s 1.1s ease;
    /* 1.1 s delay */
    -webkit-transition: all 1s 1.1s ease;
    -moz-transition: all 1s 1.1s ease;
    -ms-transition: all 1s 1.1s ease;
    -o-transition: all 1s 1.1s ease;
}

.box:hover h2 {
    left: 0;
}

.box:hover img {
    /* اما يحصل هوفر ابقا كبر الصوره لكن بعد قد ايه ده بالترانسيشن فوق */
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.box p {
    margin-top: 146px;
    color: white;
    font-size: 17px;
    font-weight: 500;
}


/* Section2 */

.Section2 {
    width: 100%;
    min-height: 500px;
    margin-top: 100px;
}

.Section2 .test {
    background-color: white;
    width: 30%;
    height: 400px;
    margin: 17px;
    float: left;
    position: relative;
    padding: 46px;
    border-radius: 9px;
}

.Section2 .test img {
    width: 82%;
    position: absolute;
    top: 35px;
    left: 10%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.Section2 .test .Section2-p {
    position: absolute;
    top: 258px;
    text-align: center;
    display: none;
    left: 19px;
}

.test:hover img {
    transform: rotate(360deg);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    top: -44px;
}

.test:hover .Section2-p {
    display: block;
    color: #413333;
    top: 300px;
    text-shadow: 1px 1px 1px gold;
}


/* End of Section2 */


/* Sec3 */

.Section3 {
    margin-top: 395px;
    width: 100%;
    min-height: 500px;
}

.Section3 .box {
    width: 70%;
    height: 500px;
    background-color: gold;
    margin: auto;
    border-radius: 30px;
    position: relative;
}

.Section3 .box .point {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    animation: animation 5s 1s infinite;
    -webkit-animation: animation 5s 1s infinite;
}

@keyframes animation {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 89%;
    }
    50% {
        top: 400px;
        left: 89%;
    }
    75% {
        left: 0;
        top: 400px;
    }
    100% {
        top: 0;
        left: 0;
    }
}


/* End of SEC3 */


/* loading style */

.loading {
    text-align: center;
    margin: 100px auto 100px auto;
    background: #111;
    color: wheat;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
}

.loading h1 {
    position: relative;
}

.loading span {
    border: 1px solid white;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    position: absolute;
    animation: animspan 5s infinite;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-animation: animspan 5s infinite;
}

@keyframes animspan {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading span:nth-child(1) {
    border-radius: 30% 70% 58% 42% / 30% 26% 74% 70%;
    -webkit-border-radius: 30% 70% 58% 42% / 30% 26% 74% 70%;
    -moz-border-radius: 30% 70% 58% 42% / 30% 26% 74% 70%;
    -ms-border-radius: 30% 70% 58% 42% / 30% 26% 74% 70%;
    -o-border-radius: 30% 70% 58% 42% / 30% 26% 74% 70%;
    animation-duration: 5s;
}

.loading span:nth-child(2) {
    animation-duration: 3s;
    animation-direction: reverse;
    border-radius: 67% 33% 58% 42% / 30% 79% 21% 70%;
    -webkit-border-radius: 67% 33% 58% 42% / 30% 79% 21% 70%;
    -moz-border-radius: 67% 33% 58% 42% / 30% 79% 21% 70%;
    -ms-border-radius: 67% 33% 58% 42% / 30% 79% 21% 70%;
    -o-border-radius: 67% 33% 58% 42% / 30% 79% 21% 70%;
}

.loading span:nth-child(3) {
    border-radius: 24% 76% 58% 42% / 59% 17% 83% 41%;
    -webkit-border-radius: 24% 76% 58% 42% / 59% 17% 83% 41%;
    -moz-border-radius: 24% 76% 58% 42% / 59% 17% 83% 41%;
    -ms-border-radius: 24% 76% 58% 42% / 59% 17% 83% 41%;
    -o-border-radius: 24% 76% 58% 42% / 59% 17% 83% 41%;
    animation-duration: 4s;
    animation-direction: reverse;
}


/* End of loading  */


/* Sec4 */

.Section4 {
    width: 100%;
    min-height: 500px;
    background: #eee;
}

.Section4 .flex-box {
    display: flex;
    justify-content: space-around;
}

.Section4-p {
    text-align: center;
    line-height: 50px;
    margin: 20px;
    font-size: larger;
    font-weight: 700;
    font-family: 'Alegreya Sans', sans-serif;
    color: #686868;
}

.Section4-box {
    width: 30%;
}

.Section4-box img {
    width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.Section4-box img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.Section4-box .Section4-box-p {
    text-align: center;
    line-height: 29px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
}

.Section4-box .Section4-box-p h4 {}

.Section4-box .Section4-box-p p {
    color: #686868;
}


/* hover and selction in sec4 */

.Section4-p:hover {
    text-shadow: 1px 1px red;
}

.Section4-box .Section4-box-p :hover {
    text-shadow: 1px 1px gold;
}

.Section4-box .Section4-box-p p::selection {
    background-color: black;
    color: yellow;
}

.Section4-p h4::selection {
    /* background-color: black; */
    color: red;
}

.Section4-p p::selection {
    background-color: black;
    color: red;
}


/* end hover and selction in sec4 */


/* End of sec4 */


/* flex box */

.flex-box2 {
    display: inline-flex;
    width: 25%;
    background: #fff;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 4px;
    border: 4px solid black;
}

.flex-box2 img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 50%;
    background-position: center;
}

.flex-box2 p {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.flex-box2:hover {
    background: #333;
}

.flex-box2:hover p {
    color: #E91E63;
}


/* my-checkBox */


/* my-checkBox
    Custom Checkbox Design using html and css | Pure CSS Custom Checkbox

    https://www.youtube.com/watch?v=7Rjt7Rjyjqw&list=PLwJhhWUZudKoCFi2MyC9ZD6XX082goO_S&index=28&ab_channel=Divinector */

.my-checkBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242424;
}

.my-checkBox h1 {
    position: relative;
    right: 48px;
    border: 3px solid red;
    border-radius: 14px;
    color: wheat;
    width: 30%;
    text-align: center;
}

.my-checkBox label {
    background-color: gray;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border: 5px solid white;
    border-radius: 30px;
    position: relative;
    transition: all 1s;
}

.my-checkBox input {
    position: relative;
    left: 27px;
    /*  */
    display: none;
}

.my-checkBox label::after {
    content: "on";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    position: absolute;
    -o-border-radius: 50%;
    background-color: #E91E63;
    /* to center the text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 900;
}

input:checked+label::after {
    left: 79%;
    content: "off";
    background-color: #4868db;
}

input:checked+label {
    background-color: gold;
    border: 5px solid black;
}